/*Splitting screen in half */

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  
}


/* Controlling left side */

.left {
  left:0;
  width:40%;
  background-size: cover;
  background-image: url("tree.jpeg");
  background-repeat: no-repeat;
  height:100%;
}

/* Controlling right side */

.right {
  right: 0;
  width:60%;
}


/* control content in the center horizontlaly and vertically */


/* Style the image inside the centered container if needed */
.centered .img {
 
  background-position: left;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.split1, 
.split2,
.split3 {
  display:flex;
  
}

.split1 {
  height:40%;
  background-color: silver;
  font-size: 20px;
  flex-direction: column;
  justify-content:center;
}



.split2 {
  height:20%;
  background-color: white;
  display:flex;
}

.split3 {
  height:40%;
  background-color: silver;
  flex-direction:row;
}

.pic1 {
  display: flex;
  height: 200px;
  width: 40%;
  font-size:50px;
  background-color: grey;
  
  position: absolute;
  top:20%;
  left:20%;

}

.part1,
.part2{
  display:flex;
  flex-direction: column;
  
}
