
.generalForm{
    margin-bottom: 50px;
}

#generalName{
    font-size: 48px;
}

#generalEmail,
#generalPhone{
    font-size:24px;
}
#generalName,
#generalEmail,
#generalPhone{
    border:0;
}

/* #generalForm{
    display:flex;
    flex-direction: column;
    width: 60%;
    margin-bottom:50px;
} */

/* #generalName{
    height: 75px;
}

#generalEmail, 
#generalPhoneNumber {
    height: 25px;
} */

/* ------------------------------------------------------------ */

#educationForm{
    display:flex;
    flex-direction:column;
    width:60%;
    margin-bottom: 50px;
}

#educationForm{
    font-weight:bold;
}

/* ------------------------------------------------------------ */

#workExperienceForm{
    display:flex;
    flex-direction:column;
    width:60%;
    
}

#workLabel{
    font-weight:bold;
}

#addWorkExpBtn{
    color:blue;
    border: 0;
    background-color: white;
}

/* ------------------------------------------------------------ */

#addEduExpBtn{
    color:blue;
    border: 0;
    background-color: white;
    
}

#workExperienceForm,
#educationForm {
    display:none;
}