.tictactoeBoard{
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    
}




#sq1 {
    border-right:5px solid lightgrey;
    border-bottom: 5px solid lightgrey;

    
}

#sq2{
    border-right:5px solid lightgrey;
    border-bottom: 5px solid lightgrey;

}

#sq3{
    
    border-bottom: 5px solid lightgrey;
    
}

#sq4{
    border-right:5px solid lightgrey;
    border-bottom: 5px solid lightgrey;
    
}

#sq5
{
    border-right:5px solid lightgrey;
    border-bottom: 5px solid lightgrey;
    
}

#sq6{
    
    border-bottom: 5px solid lightgrey;
    
}

#sq7{
    border-right:5px solid lightgrey;
   
    
}

#sq8{
    border-right:5px solid lightgrey;
   
    
}

