

.split {
    height:100%;
    position:fixed;
    z-index:1;
    top:0;
}

.left {
    left:0;
    width:30%;
    background-color: royalblue;
}

.right {
    right:0;
    width:70%;
   
}




.grid1, 
.grid2,
.grid3
 {
    display:grid;
    grid-template-columns:100px 100px;
    color:white;
    font-style: Roboto;
    font-weight:bold;
    padding-left:20px;
}

.grid1{
    font-size:30px;
    padding-top: 5px;

}

.grid2 {
    font-size: 24px;
}

.grid3 {
    font-size:24px;
}

.logo1{
    display:grid;
    padding-top:35px;
    padding-left:20px;
}

.logo2 {
    display:grid;
    padding-left:20px;
    padding-top:25px;
}
.logo3 {
    display:grid;
    padding-left:20px;
    padding-top: 25px;
}


/* END OF DASHBOARD LEFT SIDE */


/*Start of header */
.header{
    height: 25%;
    width:75%;
    background-color:white;
    position:fixed;
    left:30%;
    top:0;

    display:grid;
    grid-gap:10px;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);

}

.item2 {
    grid-column: span 7;
    background:white;
}

.searchbar{
    background-color: lightgrey;
    border-radius: 20px;  
    
}

.name1 {
    font-weight:bold;
    font-size: 20px;
    
}

.item5 {
    grid-column: span 2;
}

.item6 {
    grid-column: span 2;
    grid-row: span 2;
}

.item8 {
    grid-column: span 2;
    grid-row: span 2;
}

.item9 {
    grid-column: span 2;
    grid-row: span 2;
}


.item10 {
    grid-column: span 2;
    grid-row: span 2;
}

/* End of header */
/* Start of "Your Projects" - body1 */
.body1{
    height:75%;
    width:50%;
    background-color:lightgrey;
    position: fixed;
    left:30%;
    bottom: 0;
    
}



/* End of body1 */
.title1{
    font-size: 24px;
    padding-top: 16px;
    padding-left:40px;
    padding-bottom: 10px;
    font-weight:bold;
}

.containerB1{
    display:grid;
    grid-template-columns:repeat(2, 400px);
    grid-template-rows: repeat(3,250px);
    grid-gap:10px;
    padding-left:50px;
   
    

}

.mainBody{
    display:grid;
    max-width:350px;
    max-height: 200px;
    background-color:blue;
    border-radius:10px;
   
}

.vertBar{
    border-left: 6px solid goldenrod;
    height:200px;
    padding:0px;
    margin:0px;
    position:fixed;
    
}

.bodyTitle{
    font-weight:bold;
    font-size: 20px;
    align-self: end;
    margin-bottom: 0px;
    padding-bottom:0px;
    padding-left:25px;
    
}

.bodyText{
    margin:0px;
    padding-left:25px;
    color: #595959;
}

.bodyLogo {
    justify-self:end;
    justify-items:end;
}
/* Start of Announcements section */
.bodyRightTop {
    height:37.5%;
    top:25%;
    right:0;
    width: 20%;
    position: fixed;
    background-color:lightgrey;
    left: 80%;
    width: 20%;
}

.containerB2{
    display:grid;
    grid-template-columns:repeat(1, 300px);
    grid-template-rows: repeat(3,125px);
    
    justify-content: center;
    padding-top:25px;
    background-color:white;
    border-radius:10px;
}

.announcementTitle{
    padding-bottom:0px;
    margin-bottom:0px;
    font-size:16px;
    font-weight:bold;
}

.announcementBody {
    padding-top:0px;
    margin-top:0px;
    color: #595959;
    
}

.announcementBorder{
    margin-top:0px;
    padding-top:0px;
    border-bottom: 6px solid lightgrey;
    width:300px;
    height:1px;
    position:fixed;
}

.title2{
    font-size: 24px;
    padding-top: 16px;
    padding-left:10px;
    margin-bottom:10px;
    
    font-weight:bold;
    
}


/*  Start of Trending section*/

.bodyRightBottom {
    height:37.5%;
    position: fixed;
    background-color:lightgrey;
    left: 80%;
    width:20%;
    bottom:0;
}



.title3{
    font-size: 24px;
    padding-top: 16px;
    padding-left:10px;
    margin-bottom:0px;
    padding-bottom:0px;
    font-weight: bold;
    
}

.containerB3{
    background-color:white;
    border-radius:10px;
}

.trending{
    display:grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(2, 50px);
    grid-column: span 2;
    
    
}

.trendLogo{
    padding-left: 50px;
    padding-top:20px;
    padding-right: 10px;
}

.trendBody{
    padding-left:50px;
    grid-column: span 2;
}

.trendHandle{
    padding-bottom:0px;
    margin-bottom:0px;
    font-weight:bold;
}

.trendName{
    margin-top:0px;
   padding-top:0px;
   color: #595959;
}